<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Multimédia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Site Multimédia</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#sobretudo">Sobre</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="form">Formulário</a></li>
                <li><a href="multimedia">Multimédia</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="inicio">
            <h2>Início</h2>
            <p>Este é o conteúdo da página inicial.</p>
            <div id="lipsum">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus efficitur augue, sit amet ullamcorper turpis ullamcorper in. Integer bibendum ligula imperdiet efficitur finibus. Aenean commodo ullamcorper porttitor. Vivamus at tempor mi, ac feugiat leo. Aliquam tincidunt luctus mauris eu sagittis. Quisque iaculis varius rutrum. Duis eleifend ligula ac orci faucibus molestie id ut arcu. Integer non neque nec diam laoreet auctor. Vestibulum gravida pharetra mi eu vehicula. Nam a blandit magna. Phasellus mattis eros non dui aliquam, in consectetur ipsum tincidunt. Aliquam convallis ullamcorper elementum. Mauris tempus dignissim erat a vehicula. Quisque bibendum fringilla nisi sit amet laoreet. Praesent eget mollis justo.
                </p>
                <p>
                Proin libero eros, faucibus mattis odio eleifend, tempus lacinia turpis. Suspendisse sit amet libero ut massa auctor varius non id odio. Curabitur viverra consequat ante, ac malesuada nunc semper condimentum. Praesent porta erat eget egestas venenatis. Morbi posuere ultricies ante id dignissim. Phasellus mattis non ipsum non sodales. Proin ullamcorper tempus tempus. Nam risus augue, dictum at ultrices sit amet, mollis in nisl. Donec luctus in libero ac accumsan. Quisque maximus tortor vel tellus fringilla, et sollicitudin elit dignissim. Sed non nibh metus.
                </p>
                <p>
                Phasellus non aliquet elit. Nulla bibendum elementum enim eu pulvinar. Integer sodales, eros quis sagittis imperdiet, elit erat sodales mauris, at aliquet est magna id nisi. Sed laoreet libero id neque dignissim suscipit. Fusce maximus a augue dapibus elementum. Etiam eget sodales ante, ut interdum felis. Curabitur aliquam consequat velit, eu maximus dolor gravida at. Suspendisse ut egestas mi, in porta lacus.
                </p>
                <p>
                Sed metus nisl, blandit eu fermentum ac, varius ut lacus. Nullam efficitur, dui ut efficitur posuere, erat nulla tempor lectus, at consequat urna ipsum id elit. In rhoncus mi tempus risus viverra mollis. Sed non condimentum est. Sed hendrerit pharetra tempor. Maecenas eget quam nec arcu sodales iaculis. Nullam arcu tellus, accumsan a hendrerit id, viverra in nunc. Cras id tincidunt diam, quis consequat dolor. Sed nec metus mattis, pretium mauris eget, consectetur justo. Praesent finibus vestibulum nunc. Etiam congue placerat dolor, vitae commodo ex consectetur sed. Integer efficitur ut lorem ut condimentum. Vivamus placerat hendrerit nisl quis tempor.
                </p>
                <p>
                Aliquam ornare sollicitudin sapien. Proin pharetra, lectus quis molestie consequat, mi risus vulputate velit, ac pretium ex arcu non eros. Donec eget dictum nibh. Ut malesuada viverra neque. Praesent ut sapien quis nisl rutrum sodales. Ut maximus ante eu condimentum volutpat. Nulla vitae nunc rhoncus, commodo mi viverra, aliquam lectus. Nulla auctor a est eu suscipit. Etiam feugiat nisi massa, a auctor nisi condimentum ac. Phasellus posuere lectus id ullamcorper sagittis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus efficitur augue, sit amet ullamcorper turpis ullamcorper in. Integer bibendum ligula imperdiet efficitur finibus. Aenean commodo ullamcorper porttitor. Vivamus at tempor mi, ac feugiat leo. Aliquam tincidunt luctus mauris eu sagittis. Quisque iaculis varius rutrum. Duis eleifend ligula ac orci faucibus molestie id ut arcu. Integer non neque nec diam laoreet auctor. Vestibulum gravida pharetra mi eu vehicula. Nam a blandit magna. Phasellus mattis eros non dui aliquam, in consectetur ipsum tincidunt. Aliquam convallis ullamcorper elementum. Mauris tempus dignissim erat a vehicula. Quisque bibendum fringilla nisi sit amet laoreet. Praesent eget mollis justo.
                    </p>
                    <p>
                    Proin libero eros, faucibus mattis odio eleifend, tempus lacinia turpis. Suspendisse sit amet libero ut massa auctor varius non id odio. Curabitur viverra consequat ante, ac malesuada nunc semper condimentum. Praesent porta erat eget egestas venenatis. Morbi posuere ultricies ante id dignissim. Phasellus mattis non ipsum non sodales. Proin ullamcorper tempus tempus. Nam risus augue, dictum at ultrices sit amet, mollis in nisl. Donec luctus in libero ac accumsan. Quisque maximus tortor vel tellus fringilla, et sollicitudin elit dignissim. Sed non nibh metus.
                    </p>
                    <p>
                    Phasellus non aliquet elit. Nulla bibendum elementum enim eu pulvinar. Integer sodales, eros quis sagittis imperdiet, elit erat sodales mauris, at aliquet est magna id nisi. Sed laoreet libero id neque dignissim suscipit. Fusce maximus a augue dapibus elementum. Etiam eget sodales ante, ut interdum felis. Curabitur aliquam consequat velit, eu maximus dolor gravida at. Suspendisse ut egestas mi, in porta lacus.
                    </p>
                    <p>
                    Sed metus nisl, blandit eu fermentum ac, varius ut lacus. Nullam efficitur, dui ut efficitur posuere, erat nulla tempor lectus, at consequat urna ipsum id elit. In rhoncus mi tempus risus viverra mollis. Sed non condimentum est. Sed hendrerit pharetra tempor. Maecenas eget quam nec arcu sodales iaculis. Nullam arcu tellus, accumsan a hendrerit id, viverra in nunc. Cras id tincidunt diam, quis consequat dolor. Sed nec metus mattis, pretium mauris eget, consectetur justo. Praesent finibus vestibulum nunc. Etiam congue placerat dolor, vitae commodo ex consectetur sed. Integer efficitur ut lorem ut condimentum. Vivamus placerat hendrerit nisl quis tempor.
                    </p>
                    <p>
                    Aliquam ornare sollicitudin sapien. Proin pharetra, lectus quis molestie consequat, mi risus vulputate velit, ac pretium ex arcu non eros. Donec eget dictum nibh. Ut malesuada viverra neque. Praesent ut sapien quis nisl rutrum sodales. Ut maximus ante eu condimentum volutpat. Nulla vitae nunc rhoncus, commodo mi viverra, aliquam lectus. Nulla auctor a est eu suscipit. Etiam feugiat nisi massa, a auctor nisi condimentum ac. Phasellus posuere lectus id ullamcorper sagittis.
                    </p>
            </div>
        </section>
        <section id="sobretudo">
            <h2>Sobre Nós</h2>
            <p>Aqui está uma descrição sobre o site.</p>
            <div id="lipsum">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus efficitur augue, sit amet ullamcorper turpis ullamcorper in. Integer bibendum ligula imperdiet efficitur finibus. Aenean commodo ullamcorper porttitor. Vivamus at tempor mi, ac feugiat leo. Aliquam tincidunt luctus mauris eu sagittis. Quisque iaculis varius rutrum. Duis eleifend ligula ac orci faucibus molestie id ut arcu. Integer non neque nec diam laoreet auctor. Vestibulum gravida pharetra mi eu vehicula. Nam a blandit magna. Phasellus mattis eros non dui aliquam, in consectetur ipsum tincidunt. Aliquam convallis ullamcorper elementum. Mauris tempus dignissim erat a vehicula. Quisque bibendum fringilla nisi sit amet laoreet. Praesent eget mollis justo.
                </p>
                <p>
                Proin libero eros, faucibus mattis odio eleifend, tempus lacinia turpis. Suspendisse sit amet libero ut massa auctor varius non id odio. Curabitur viverra consequat ante, ac malesuada nunc semper condimentum. Praesent porta erat eget egestas venenatis. Morbi posuere ultricies ante id dignissim. Phasellus mattis non ipsum non sodales. Proin ullamcorper tempus tempus. Nam risus augue, dictum at ultrices sit amet, mollis in nisl. Donec luctus in libero ac accumsan. Quisque maximus tortor vel tellus fringilla, et sollicitudin elit dignissim. Sed non nibh metus.
                </p>
                <p>
                Phasellus non aliquet elit. Nulla bibendum elementum enim eu pulvinar. Integer sodales, eros quis sagittis imperdiet, elit erat sodales mauris, at aliquet est magna id nisi. Sed laoreet libero id neque dignissim suscipit. Fusce maximus a augue dapibus elementum. Etiam eget sodales ante, ut interdum felis. Curabitur aliquam consequat velit, eu maximus dolor gravida at. Suspendisse ut egestas mi, in porta lacus.
                </p>
                <p>
                Sed metus nisl, blandit eu fermentum ac, varius ut lacus. Nullam efficitur, dui ut efficitur posuere, erat nulla tempor lectus, at consequat urna ipsum id elit. In rhoncus mi tempus risus viverra mollis. Sed non condimentum est. Sed hendrerit pharetra tempor. Maecenas eget quam nec arcu sodales iaculis. Nullam arcu tellus, accumsan a hendrerit id, viverra in nunc. Cras id tincidunt diam, quis consequat dolor. Sed nec metus mattis, pretium mauris eget, consectetur justo. Praesent finibus vestibulum nunc. Etiam congue placerat dolor, vitae commodo ex consectetur sed. Integer efficitur ut lorem ut condimentum. Vivamus placerat hendrerit nisl quis tempor.
                </p>
                <p>
                Aliquam ornare sollicitudin sapien. Proin pharetra, lectus quis molestie consequat, mi risus vulputate velit, ac pretium ex arcu non eros. Donec eget dictum nibh. Ut malesuada viverra neque. Praesent ut sapien quis nisl rutrum sodales. Ut maximus ante eu condimentum volutpat. Nulla vitae nunc rhoncus, commodo mi viverra, aliquam lectus. Nulla auctor a est eu suscipit. Etiam feugiat nisi massa, a auctor nisi condimentum ac. Phasellus posuere lectus id ullamcorper sagittis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus efficitur augue, sit amet ullamcorper turpis ullamcorper in. Integer bibendum ligula imperdiet efficitur finibus. Aenean commodo ullamcorper porttitor. Vivamus at tempor mi, ac feugiat leo. Aliquam tincidunt luctus mauris eu sagittis. Quisque iaculis varius rutrum. Duis eleifend ligula ac orci faucibus molestie id ut arcu. Integer non neque nec diam laoreet auctor. Vestibulum gravida pharetra mi eu vehicula. Nam a blandit magna. Phasellus mattis eros non dui aliquam, in consectetur ipsum tincidunt. Aliquam convallis ullamcorper elementum. Mauris tempus dignissim erat a vehicula. Quisque bibendum fringilla nisi sit amet laoreet. Praesent eget mollis justo.
                    </p>
                    <p>
                    Proin libero eros, faucibus mattis odio eleifend, tempus lacinia turpis. Suspendisse sit amet libero ut massa auctor varius non id odio. Curabitur viverra consequat ante, ac malesuada nunc semper condimentum. Praesent porta erat eget egestas venenatis. Morbi posuere ultricies ante id dignissim. Phasellus mattis non ipsum non sodales. Proin ullamcorper tempus tempus. Nam risus augue, dictum at ultrices sit amet, mollis in nisl. Donec luctus in libero ac accumsan. Quisque maximus tortor vel tellus fringilla, et sollicitudin elit dignissim. Sed non nibh metus.
                    </p>
                    <p>
                    Phasellus non aliquet elit. Nulla bibendum elementum enim eu pulvinar. Integer sodales, eros quis sagittis imperdiet, elit erat sodales mauris, at aliquet est magna id nisi. Sed laoreet libero id neque dignissim suscipit. Fusce maximus a augue dapibus elementum. Etiam eget sodales ante, ut interdum felis. Curabitur aliquam consequat velit, eu maximus dolor gravida at. Suspendisse ut egestas mi, in porta lacus.
                    </p>
                    <p>
                    Sed metus nisl, blandit eu fermentum ac, varius ut lacus. Nullam efficitur, dui ut efficitur posuere, erat nulla tempor lectus, at consequat urna ipsum id elit. In rhoncus mi tempus risus viverra mollis. Sed non condimentum est. Sed hendrerit pharetra tempor. Maecenas eget quam nec arcu sodales iaculis. Nullam arcu tellus, accumsan a hendrerit id, viverra in nunc. Cras id tincidunt diam, quis consequat dolor. Sed nec metus mattis, pretium mauris eget, consectetur justo. Praesent finibus vestibulum nunc. Etiam congue placerat dolor, vitae commodo ex consectetur sed. Integer efficitur ut lorem ut condimentum. Vivamus placerat hendrerit nisl quis tempor.
                    </p>
                    <p>
                    Aliquam ornare sollicitudin sapien. Proin pharetra, lectus quis molestie consequat, mi risus vulputate velit, ac pretium ex arcu non eros. Donec eget dictum nibh. Ut malesuada viverra neque. Praesent ut sapien quis nisl rutrum sodales. Ut maximus ante eu condimentum volutpat. Nulla vitae nunc rhoncus, commodo mi viverra, aliquam lectus. Nulla auctor a est eu suscipit. Etiam feugiat nisi massa, a auctor nisi condimentum ac. Phasellus posuere lectus id ullamcorper sagittis.
                    </p>
            </div>
        </section>
        <section id="contato">
            <h2>Contato</h2>
            <p>Entre em contato conosco através do email: contato@meusite.com</p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Meu Site Multimedia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>